html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

canvas {
  display: flex;
}

.menu {
  padding: 1em 1em 0 1em;
}
h1 {
  min-width: 10ch;
  margin: 0;
  color: palevioletred;
}

.subtitle {
  color: palevioletred;
}

.instruction {
  list-style: circle;
  padding: 10px;
  color: dimgray;
}

.instruction li {
  padding: 1em 0;
}
