html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

canvas {
  display: block;
}

.menu {
  padding: 1em;
  position: absolute;
  width: 23.5ch;
  height: 96.5%;
  background-color: rgba(245, 244, 233, 0.45);
  border-bottom-right-radius: 25px;
}
h1 {
  min-width: 10ch;
  font-size: 1.5rem;
  margin: 0;
  color: palevioletred;
}

.subtitle {
  font-size: 1rem;
  color: palevioletred;
}

.instruction {
  list-style: circle;
  padding: 10px;
  color: dimgray;
}

.instruction li {
  padding: 1em 0;
}
